.write {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: centers;
  align-items: center;
}

.writeImg {
  margin-top: 90px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  cursor: pointer;
  /* background-color: red; */
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  width: 70vw;
  margin-left: 100px;
  height: 100px;
  font-family: inherit;
  font-size: 20px;
  /* background-color: red; */
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
